.header{
  color: white;
  margin-left: 20px;
  font-size:12vh;
  line-height: 20vh;
}

.italicheader{
  font-family: 'Zodiak',sans-serif;
  line-height: 0.6;
  display: block;
  font-style: italic;
}